/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover {
  /* color: inherit; */
    text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type=submit] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: rgb(254, 158, 69);
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 2px solid #765B41;
    transition: all 0.8s ease 0.2s;
    transform: translate(0px, 120%);
    opacity: 0;
}

.title._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.title span {
    color: rgb(255, 255, 255);
}

@media (max-width: 533px) {
    .title {
        font-size: 34px;
        line-height: 39px;
    }
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    background: #fff;
    color: rgb(255, 255, 255);
}

.header {
    min-height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.header__top {
    display: flex;
    height: 88px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(232, 232, 232, 0.5);
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 80px;
}

.header__list {
    display: flex;
    gap: 40px;
}

.header__list li {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.header__list li._active:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.header__list li._active:nth-child(2) {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.header__list li._active:nth-child(3) {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.header__top-btn {
    color: rgb(254, 158, 69);
    padding: 15px 22px;
    border: 1px solid rgb(254, 158, 69);
    box-shadow: inset 0px 0px 10px 0.5px rgb(254, 158, 69), 0px 0px 10px 0.5px rgb(254, 158, 69);
    transition: all 0.6s ease 0.2s;
    transform: translate(0px, 120%);
    opacity: 0;
}

.header__top-btn._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.header__top-btn:hover {
    box-shadow: inset 0px 0px 15px 1px rgb(254, 158, 69), 0px 0px 15px 1px rgb(254, 158, 69);
}

.header__body {
    max-width: 920px;
    text-align: center;
    margin: 0 auto;
    margin-top: calc(20px + 80 * (100vw - 320px) / 880);
    padding-bottom: 50px;
}

.header__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.header__columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0 70px;
}

.header__leaner {
    height: 2px;
    width: 100%;
    background: rgb(67, 67, 67);
    margin-bottom: 10px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.6s ease 0.2s;
}

.header__leaner._active {
    opacity: 1;
    transform: scale(1);
}

.header__info {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 100px;
    transition: all 0.5s ease 0.4s;
    transform: translate(0px, 120%);
    opacity: 0;
}

.header__info._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.header__info span {
    color: rgb(254, 158, 69);
    font-weight: 700;
}

.header__btn {
    padding: 13px 20px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    box-shadow: 0px 0px 15px 2px rgb(255, 103, 17);
    border: 1px solid rgb(255, 255, 255);
    background: rgb(254, 158, 69);
    transition: all 1s ease 0s;
    transform: translate(0px, 120%);
    opacity: 0;
}

.header__btn._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.header__btn:hover {
    box-shadow: 0px 0px 20px 3px rgb(255, 103, 17);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.header__logo {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.header__logo._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.header__title {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}

.header__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.list__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    transition: all 0.2s;
}

.list__link:hover {
    color: rgb(254, 158, 69);
}

.columns__item {
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}

.columns__item._active {
    transform: scale(1);
    opacity: 1;
}

.columns__item-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 5px;
}

.burger-menu {
    display: none;
}

@media (max-width: 998px) {
    .header__title {
        font-size: 40px;
        line-height: 44px;
    }

    .header__columns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
    }

    .columns__item-text {
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        margin-top: 5px;
    }

    .header__nav {
        display: none;
    }

    .header__nav.active {
        display: block;
        position: absolute;
        transition: all 1s;
        top: 87px;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        color: rgb(77, 77, 77);
        text-align: center;
        z-index: 99;
    }

    .burger-menu {
        display: block;
        border: none;
        background: transparent;
        cursor: pointer;
        position: relative;
        z-index: 15;
    }

    .burger-menu span {
        display: block;
        width: 50px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        margin: 10px auto;
    }

    .burger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active span:nth-child(1) {
        transform: rotate(45deg) translateY(20px);
    }

    .burger-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-20px);
    }

    .header__nav.active .burger-menu span {
        background-color: rgb(77, 77, 77);
    }

    .header__list {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 15vh;
        padding-bottom: 10vh;
        gap: 10px;
    }

    .list__link {
        font-size: 40px;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .header__info {
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 50px;
    }

    .header__columns {
        padding: 30px 0 40px;
    }
}

@media (max-width: 375px) {
    .header__info {
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 30px;
    }
}

.advantages {
    color: rgb(77, 77, 77);
    background-position: right !important;
    padding-bottom: 100px;
}

.advantages__title {
    margin-bottom: 95px;
    color: rgb(77, 77, 77);
    padding: 40px 0 30px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-bottom: 2px solid rgb(227, 227, 227);
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    justify-content: center;
}

.advantages__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 100px;
    align-items: center;
}

.advantages__item {
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    transform: scale(0);
    opacity: 0;
}

.advantages__item._active:nth-child(1) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.advantages__item._active:nth-child(2) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.advantages__item._active:nth-child(3) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.3s;
}

.advantages__item._active:nth-child(4) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.advantages__item._active:nth-child(5) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.advantages__item._active:nth-child(6) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.3s;
}

.advantages-item__title {
    margin: 30px 0 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgb(72, 28, 3);
    font-family: "Roboto", sans-serif;
}

.advantages-item__text {
    font-size: 20px;
    line-height: 23px;
    color: #535353;
    font-weight: 400;
}

.advantages-item__text span {
    font-weight: 700;
}

@media (max-width: 892px) {
    .advantages__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        row-gap: 0;
        align-items: center;
    }

    .advantages__item {
        min-height: 300px;
    }

    .advantages__title {
        font-size: 30px;
        padding: 20px 0 15px;
    }

    .advantages-item__title {
        font-size: 28px;
        margin: 15px 0 10px;
    }

    .advantages-item__text {
        font-size: 16px;
    }

    .advantages {
        padding-bottom: 0px;
    }
}

.info {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.info__row {
    padding: 40px 0 95px;
}

.info__title {
    margin-bottom: 60px;
}

.info__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    transform: translate(-100%, 0px);
    opacity: 0;
}

.info__text._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.info__text span {
    font-weight: 700;
}

.info__text-bt {
    margin-top: 35px;
    margin-bottom: 90px;
}

.info__text-bt._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.info__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    border-bottom: 2px solid #765B41;
    color: rgb(254, 158, 69);
    padding-bottom: 10px;
    margin-bottom: 70px;
}

.info__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.info-items__item {
    max-width: 260px;
    transform: scale(0);
    opacity: 0;
}

.info-items__item._active:nth-child(1) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.info-items__item._active:nth-child(2) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.1s;
}

.info-items__item._active:nth-child(3) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.info-items__item._active:nth-child(4) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.3s;
}

.info-items__item._active:nth-child(5) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.info-item__img {
    border: 1px solid rgb(254, 158, 69);
    padding: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    transition: all 0.2s;
}

.info-item__img:hover {
    box-shadow: 0px 0px 3px 1px rgb(255, 103, 17);
}

.info-item__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgb(254, 158, 69);
}

@media (max-width: 1312px) {
    .info__items {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        row-gap: 0;
        gap: 30px;
    }
}

@media (max-width: 857px) {
    .info__title {
        margin-bottom: 30px;
    }

    .info__row {
        padding: 20px 0 55px;
    }
}

@media (max-width: 533px) {
    .info__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .info__text-bt {
        margin-bottom: 30px;
    }

    .info__subtitle {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

.price {
    background: #F0F0F0;
    position: relative;
    z-index: 2;
}

.price__title {
    margin-bottom: 40px;
    color: rgb(77, 77, 77);
    padding: 40px 0 30px;
    text-align: center;
    border-bottom: 2px solid rgb(227, 227, 227);
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.price__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 120px;
    row-gap: 30px;
}

.price__item {
    transition: all 0.3s;
    width: 440px;
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgb(77, 77, 77);
    padding: 30px 50px 23px;
    transform: scale(0);
    opacity: 0;
}

.price__item._active:nth-child(1) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.1s;
}

.price__item._active:nth-child(2) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.price__item._active:nth-child(3) {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.prise-item__title {
    color: rgb(72, 28, 3);
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(227, 227, 227);
    margin-bottom: 20px;
    gap: 20px;
}

.price-item {
    margin: 0 10px;
}

.price-item__characteristics {
    width: 100%;
}

.price-item__characteristics-left {
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-bottom: 20px;
}

.price-item__characteristics-right {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
}

.price-item__term {
    color: rgb(72, 28, 3);
    padding-top: 20px;
    margin-top: 20px;
    border-top: 2px solid #E3E3E3;
    font-size: 24px;
    line-height: 29px;
}

.price-item__price {
    color: rgb(72, 28, 3);
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 10px;
}

.price-item__btn {
    color: #fff;
    display: inline-flex;
    align-items: center;
    padding: 14px 20px;
    background: rgb(254, 158, 69);
    gap: 15px;
    transition: all 0.2s;
}

.price-item__btn:hover {
    box-shadow: 0px 0px 5px 2px rgb(255, 103, 17);
}

.price-item__characteristics-span {
    height: 20px;
    width: 100%;
    background: #fff;
}

.price__item:hover {
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

@media (max-width: 1386px) {
    .price__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 50px;
        row-gap: 0;
        gap: 30px;
    }
}

@media (max-width: 533px) {
    .price__title {
        padding: 30px 0 20px;
        font-size: 34px;
        line-height: 39px;
    }
}

@media (max-width: 425px) {
    .price-item__characteristics-left {
        font-size: 18px;
    }

    .price-item__characteristics-right {
        font-size: 16px;
    }

    .price-item__price {
        font-size: 28px;
        line-height: 34px;
    }

    .price-item__term {
        font-size: 18px;
    }

    .price-item__btn {
        font-size: 18px;
    }

    .prise-item__title {
        font-size: 34px;
    }
}

.choose {
    background-image: url(./../img/chosee/chosee-bg-imp.svg) !important;
    background-position: center !important;
    position: relative;
    padding-bottom: 80px;
}

.choose__row {
    max-width: 1400px;
    height: 1028px;
    background-image: url(./../img/chosee/chosee-bg.svg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    padding: 40px 0 0 80px;
    border-radius: 15px;
    margin-top: -50px;
    position: relative;
    z-index: 3;
}

.choose__title {
    margin-bottom: 10px;
}

.choose__face {
    position: absolute;
    top: 250px;
    right: 223px;
}

.choose__question {
    position: absolute;
    top: 80px;
    right: 80px;
}

.choose__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-left: 40px;
    transform: translate(-100%, 0px);
    opacity: 0;
}

.choose__subtitle._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.choose__leaner {
    position: absolute;
    bottom: 87px;
    left: 147px;
}

.choose__item {
    font-size: 22px;
    line-height: 27px;
    border: 1px solid rgb(255, 255, 255);
    width: 440px;
    font-weight: 400;
    background: rgb(38, 45, 54);
    align-items: center;
    border-radius: 10px;
    display: flex;
    transform: translate(0px, 120%);
    opacity: 0;
}

.choose__item._active:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.choose__item._active:nth-child(2) {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.choose__item._active:nth-child(3) {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.choose__item._active:nth-child(4) {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.choose__item._active:nth-child(5) {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.choose__item._active:nth-child(6) {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.choose__item span {
    font-weight: 700;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #FFFFFF;
    background: rgb(254, 158, 69);
    min-width: 80px;
    min-height: 70px;
    border-radius: 10px 0px 0px 10px;
    margin-right: 15px;
    font-family: "Roboto";
}

.choose__item-1 {
    position: absolute;
    top: 227px;
    left: 120px;
}

.choose__item-2 {
    position: absolute;
    top: 377px;
    left: 466px;
}

.choose__item-3 {
    position: absolute;
    top: 535px;
    left: 80px;
}

.choose__item-4 {
    position: absolute;
    bottom: 303px;
    right: 220px;
}

.choose__item-5 {
    position: absolute;
    bottom: 144px;
    left: 231px;
}

.choose__item-6 {
    position: absolute;
    bottom: 64px;
    right: 80px;
}

.questions {
    overflow: hidden;
}

.questions__title {
    margin-bottom: 95px;
    color: rgb(77, 77, 77);
    padding: 40px 0 30px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-bottom: 2px solid rgb(227, 227, 227);
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    transition: all 0.8s ease 0.2s;
    transform: translate(0px, 120%);
    opacity: 0;
}

.questions__title._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.questions__question {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgb(72, 28, 3);
    margin-bottom: 15px;
    transition: all 0.8s ease 0.2s;
    transform: translate(120%, 0px);
    opacity: 0;
}

.questions__question._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.questions__question span {
    font-weight: 600;
    margin-right: 10px;
}

.questions__answer {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgb(77, 77, 77);
    margin-left: 80px;
    transition: all 0.8s ease 0.4s;
    transform: translate(-100%, 0px);
    opacity: 0;
}

.questions__answer._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.questions__answer:last-child {
    margin-top: 20px;
}

.questions__answer-1 {
    margin-bottom: 30px;
}

.questions__answer {
    margin-bottom: 30px;
}

@media (max-width: 1400px) {
    .choose__row {
        margin-top: 30px;
    }
}

@media (max-width: 1250px) {
    .choose__item-6 {
        position: absolute;
        bottom: 40px;
        right: 50px;
    }
}

@media (max-width: 1280px) {
    .choose__question {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .choose__face {
        position: absolute;
        top: 200px;
        right: 166px;
    }

    .choose__subtitle {
        font-size: 20px;
        margin-left: 25px;
        position: relative;
        z-index: 2;
    }

    .choose__item-2 {
        position: absolute;
        top: 377px;
        left: 360px;
    }
}

@media (max-width: 980px) {
    .choose__leaner {
        display: none;
    }

    .choose__item-1 {
        position: absolute;
        top: 227px;
        left: 80px;
    }

    .choose__item-2 {
        position: absolute;
        top: 310px;
        left: 80px;
    }

    .choose__item-3 {
        position: absolute;
        top: 392px;
        left: 80px;
    }

    .choose__item-4 {
        position: absolute;
        left: 80px;
        top: 474px;
        bottom: auto;
    }

    .choose__item-5 {
        position: absolute;
        top: 556px;
        left: 80px;
        bottom: auto;
    }

    .choose__item-6 {
        position: absolute;
        top: 637px;
        left: 80px;
        right: 0;
        bottom: auto;
    }

    .choose__face {
        position: absolute;
        top: auto;
        bottom: 0;
        right: 300px;
    }

    .choose__question {
        position: absolute;
        top: auto;
        bottom: 150px;
        right: 130px;
    }
}

@media (max-width: 804px) {
    .choose__subtitle {
        font-size: 18px;
        margin-left: 0;
    }

    .choose__item-1 {
        position: absolute;
        top: 287px;
        left: 80px;
    }

    .choose__item-2 {
        position: absolute;
        top: 370px;
        left: 80px;
    }

    .choose__item-3 {
        position: absolute;
        top: 452px;
        left: 80px;
    }

    .choose__item-4 {
        position: absolute;
        left: 80px;
        top: 534px;
        bottom: auto;
    }

    .choose__item-5 {
        position: absolute;
        top: 616px;
        left: 80px;
        bottom: auto;
    }

    .choose__item-6 {
        position: absolute;
        top: 697px;
        left: 80px;
        right: 0;
        bottom: auto;
    }

    .choose__face {
        position: absolute;
        top: auto;
        bottom: 0;
        right: 300px;
    }

    .choose__question {
        position: absolute;
        top: auto;
        bottom: 150px;
        right: 130px;
    }
}

@media (max-width: 628px) {
    .choose__item span {
        font-size: 28px;
        min-width: 50px;
        min-height: 40px;
    }

    .choose__item {
        font-size: 13px;
        line-height: 14px;
        width: 80%;
        padding-right: 5px;
        margin-right: 20px;
    }

    .choose__item-1 {
        position: absolute;
        top: 287px;
        left: 30px;
    }

    .choose__item-2 {
        position: absolute;
        top: 370px;
        left: 30px;
    }

    .choose__item-3 {
        position: absolute;
        top: 452px;
        left: 30px;
    }

    .choose__item-4 {
        position: absolute;
        left: 30px;
        top: 534px;
        bottom: auto;
    }

    .choose__item-5 {
        position: absolute;
        top: 616px;
        left: 30px;
        bottom: auto;
    }

    .choose__item-6 {
        position: absolute;
        top: 697px;
        left: 30px;
        right: 0;
        bottom: auto;
    }

    .choose__subtitle {
        margin-left: -50px;
        font-size: 18px;
        line-height: 22px;
        padding-right: 15px;
    }

    .choose__title {
        font-size: 24px;
        line-height: 24px;
        margin-left: -50px;
    }

    .choose__item br {
        display: none;
    }

    .choose__item-4 br {
        display: none;
    }

    .choose__face {
        display: none;
    }

    .choose__question {
        display: none;
    }

    .choose__row {
        height: 770px;
    }

    .questions__title {
        padding: 30px 0 20px;
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .questions__question {
        font-size: 20px;
        line-height: 22px;
    }

    .questions__answer {
        font-size: 16px;
        line-height: 20px;
        margin-left: 28px;
    }

    .choose {
        padding-bottom: 30px;
    }
}

.remained {
    padding-bottom: 20px;
    background: #F0F0F0;
    color: rgb(77, 77, 77);
}

.remained__row {
    text-align: center;
}

.remained__title {
    margin-bottom: 95px;
    color: rgb(72, 28, 3);
    padding: 40px 0 30px;
    background: transparent;
    text-align: center;
    border-bottom: 2px solid rgb(227, 227, 227);
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    transition: all 0.8s ease 0s;
    transform: translate(0px, 120%);
    opacity: 0;
}

.remained__title._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.remained__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
    transition: all 0.8s ease 0s;
    transform: translate(0px, 120%);
    opacity: 0;
}

.remained__text._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.remained__btn {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    padding: 12px 20px;
    color: rgb(255, 255, 255);
    background: rgb(254, 158, 69);
    border-radius: 5px;
    transition: all 0.4s ease 0s;
    transform: translate(0px, 120%);
    opacity: 0;
}

.remained__btn._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.remained__btn:hover {
    box-shadow: 0px 0px 5px 2px rgb(255, 103, 17);
}

@media (max-width: 533px) {
    .remained__title {
        padding: 30px 0 20px;
        font-size: 32px;
        line-height: 32px;
    }

    .remained__text {
        font-size: 20px;
        line-height: 25px;
    }
}

.footer {
    padding: 20px 0;
    background: rgb(38, 45, 54);
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.footer__logo {
    transition: all 0.4s ease 0s;
    transform: translate(-120%, 0px);
    opacity: 0;
}

.footer__logo._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.footer__copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: all 0.4s ease 0s;
    transform: translate(120%, 0px);
    opacity: 0;
}

.footer__copyright._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

@media (max-width: 793px) {
    .footer__row {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        text-align: center;
    }

    .footer__copyright {
        font-size: 14px;
    }
}
